.godot/
*.translation
export.cfg
export_presets.cfg
.import/
*.apk
*.aab
*.ipa
*.dmg
*.exe
*.x86_64
*.app
.DS_Store
*~
*.tmp
android/
/build/
/CozyBlocks/
/CozyBlocks.pck
/CozyBlocks.xcframework/
/CozyBlocks.xcodeproj/
/CozyBlocks.xcodeproj.broken/
/MoltenVK.xcframework/
/PrivacyInfo.xcprivacy
/libgodot_*.xcframework/
.mono/
.env
server_data/
/tmp/cozyblocks_houses/
